---
layout: default
title: Adam Dej
---

<div id="top-links">
  <h2>Links</h2>
  <div class="top-links">
    <div style="display: inline-block">
    <a class="button-link" href="/projects/index.html">
      <b><i class="fa fa-flask" style="margin-right: 8px"></i>My projects</b><br />
      <div class="button-link-subheader">
        Random stuff I've made or I'm working on
      </div>
    </a>
    <a class="button-link" href="/talks/index.html">
      <b><i class="fa fa-file-powerpoint-o" style="margin-right: 8px"></i>My talks</b><br />
      <div class="button-link-subheader">
        Slides and speaker's notes for talks I've given
      </div>
    </a>
    <a class="button-link" href="/apps/index.html">
      <b><i class="fa fa-cloud" style="margin-right: 8px"></i>Small apps</b><br />
      <div class="button-link-subheader">
        Hosting for small stuff I've written
      </div>
    </a>
    </div>
  </div>
</div>

<div id="post-list">
  <h2>Latest posts</h2>
  <ul class="posts">
    {% for post in site.posts limit:4 %}
      <li><span><tt>{{ post.date | date_to_string }}</tt></span> &raquo; <a href="{{ site.url }}{{ post.url }}"><b>{{ post.title }}</b></a>

        <div class="post_details">{{ post.excerpt }}</div>
        <div style="text-align: left; margin-left: 30px; font-size: 90%; display: inline;">
            <b>Categories: </b> {% for category in post.categories %} {{ category }} {% unless forloop.last %},{% endunless %} {% endfor %}
        </div>
        <div style="float: right; display: inline; font-size: 90%;">
            <a href="{{ site.url }}{{ post.url }}">Read more &raquo;</a>
        </div>

      </li>
    {% endfor %}

    {% if site.posts.size == 0 %}
    This blog is empty :(.
    {% endif %}
  </ul>

  {% unless site.posts.size == 0 %}
  <a href="{{ site.url }}/all_posts.html" style="font-size: 150%; padding-bottom: 40px;">All posts &raquo;</a><br />
  {% endunless %}

  {% unless site.posts.size == 0 %}
    <h2>Categories</h2>
    <div class="categories">
    {% for category in site.categories %}
        <h3> {{ category[0] }} </h3>

        <ul class="cat_posts">
            {% for post in category[1] %}
                <li><span><tt>{{ post.date | date_to_string }}</tt></span> &raquo; <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
    </div>
  {% endunless %}

</div>
